/* Lakeland Reeds Bed and Breakfast -- Forms */
legend, #submit {
  font-family: CuprumFFURegular, georgia, "times new roman", times, serif;
  }
fieldset {
  margin-bottom: 10px;
  position: relative;
  padding: 2.5em 1em 0.5em 1em;
  background: #b5c8e4;
  }
fieldset fieldset {
  padding-top: 5px;
  }
form {
  background: #6a91ca;
  padding: 10px;
  margin: 0 50px 10px 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  }
input, textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
  }
input:focus, textarea:focus {
  background: #e3d5ba;
  }
legend span {
  position: absolute;
  left: 0;
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  }
#contactinfo, #reserveinfo, #additionalinfo, #submitbutton {
  border: none;
  }
#contactinfo label {
  display: block;
  position: relative;
  margin: 12px 0;
  }
#contactinfo input {
  position: absolute;
  left: 100px;
  }
#nameinput, #emailinput {
  width: 30em;
  }
#phoneinput {
  width: 12em;
  }
#roombox label, #occasionbox label {
  margin-right: 25px;
  }
#submit {
  background: #e3d5ba;
  font-size: 1.25em;
  }
#submitbutton {
  border: none;
  background: #6a91ca;
  padding: 0.5em 0 0 0;
  text-align: center;
  }
