/* Revisions Bookstore and Cafe 
    Brenton Hand
    HTML5 Unit I Visual Workshop
*/
@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('fonts/Chunkfive-webfont.eot');
  src: local('☺'), url('fonts/Chunkfive-webfont.woff') format('woff'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fontsChunkfive-webfont.svg#webfontb5K2fJwj') format('svg');
  font-weight: normal;
  font-style: normal;
  }
article, aside, figure, footer, nav {
  display: block;
  }
aside {
  float: left;
  clear: left;
  width: 250px;
  padding: 0.5em;
  }
article {
  text-align: center;
  }
body {
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  }
footer {
  text-align: right;
  margin: 0 auto;
  font-family: ChunkFiveRegular, georgia, "times new roman", times, serif;
  background: #6787E7;
  padding: 0.25em;
  clear: both;
  }
h1 {
  text-align: center;
  margin: 0 auto;
  padding: 0.25em;
  font-family: ChunkFiveRegular, georgia, "times new roman", times, serif;
  font-weight: normal;
  font-size: 2em;
  float: left;
  }
h2 {
  text-align: center;
  margin: 0 auto;
  padding: 0.25em;
  font-family: ChunkFiveRegular, georgia, "times new roman", times, serif;
  font-weight: normal;
  font-size: 1.75em;
  }
table {
  margin: 1em auto;
  padding: 0;
  border-collapse: collapse;
  
  }
td {
  border: 1px solid black;
  padding: 0.25em;
  }
th {
  border: 1px solid black;
  padding: 0.25em;
  background: #e0e0e0;
  }
#box {
  margin: 0 auto;
  padding: 0em;
  width: 960px;
  background: #fdf5e6;
  position: relative;
  }
#logo {
  float: left;
  margin: 0;
  padding: 0;
  }
#logo img, #logosm img {
  margin: 0;
  padding: 0;
  display: block;
  }
#mainnav {
  background: #BDCCD4;
  padding: 0.5em;
  margin: 0;
  text-align: center;
  }
#mainnav li {
  display: inline;
  list-style-type: none;
  padding: 0.25em;
  }
#skipnav {
  width: 960px;
  text-align: right;
  margin: 0 auto;
  padding: 0;
  }
.title {
  font-style: italic;
  }
a:link {
  color: black;
  }
a:visited {
  color: black;
  }
a:hover {
  color: black;
  }
a:active {
  color: black;
  }
#mainnav a:link {
  color: #203470;
  }
#mainnav a:visited {
  color: #3454B4;
  }
#mainnav a:hover {
  color: black;
  }
#mainnav a:active {
  color: #3454B4;
  }
.boxshadow #box {
  -webkit-box-shadow: 2px 2px 4px black;
  -moz-box-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 4px black;
}
#box {
  border-bottom: 2px solid #666;
  border-right: 2px solid #777;
}
