/* Murfreesboro Regional Soccer League */
article, aside, body, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, header, li, nav, ol, p, section, table, th, td, ul {
  margin: 0;
  padding: 0;
  }
article, figure, header, footer {
  display: block;
  }
article {
  padding: 0 0.5em 0 0.5em;
  }
body {
  font-family: tahoma, arial, helvetica, sans-serif;
  background: green;
  background: url("images/grass.jpg");
  }
figure {
  float: right;
  padding: 1em 0 0.25em 0.5em;
  }
figure img {
  display: block;
  }
footer {
  clear: left;
  }
h1, #affiliation {
  background: rgb(140,198,63);
  background: rgba(140,198,63,0.7);
  }
h1, h2, #affiliation {
  text-align: center;
  padding: 0.1em;
  font-family: georgia, "times new roman", times, serif;
  }
h1 {
  font-size: 2em;
  }
h2 {
  font-size: 1.5em;
  padding: 0.5em 0;
  }
h3 {
  padding: 0.25em;
  }
header {
  background: green;
  background: url("images/grass.jpg");
  border-bottom: 5px solid black;
  }
table {
  margin: 1em 0;
  border-collapse: collapse;
  }
td {
  border: 1px solid black;
  padding: 0.25em;
  }
th {
  border: 1px solid black;
  padding: 0.25em;
  background: #e0e0e0;
  }
#affiliation {
  font-size: 1.25em;
  }
#box {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border: 0.35em solid black;
  position: relative;
  }
#contact {
  text-align: right;
  padding: 0.5em;
  color: white;
  background: black;
  margin: 0;
  }
#logo img {
  display: block;
  float: left;
  }
#mainnav {
  text-align: center;
  background: white;
  margin: 0.5em 0 0 0;
  padding: 0.25em;
  }
#mainnav li {
  display: inline;
  list-style-type: none;
  padding: 0.25em 1em;
  margin: 0 0.25em;
  background: black;
  border: 1px solid black;
  }
#skipnav {
  width: 960px;
  text-align: right;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  }
#skiplink {
  padding: 0.25em 0.75em;
  margin: 0;
  background: black;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  }
.toplink {
  text-align: left;
  padding: 0 1em 0 0;
  margin: 0;
  }
a:link {
  color: #663300;
  }
a:visited {
  color: #663300;
  }
a:hover {
  color: black;
  }
a:active {
  color: #663300;
  }
#pagenav a:link {
  color: black;
  }
#pagenav a:visited {
  color: #754719;
  }
#pagenav a:hover {
  color: red;
  }
#pagenav a:active {
  color: #754719;
  }
#mainnav a:link {
  color: white;
  }
#mainnav a:visited {
  color: #8CC63F;
  }
#mainnav a:hover {
  color: red;
  }
#mainnav a:active {
  color: #8CC63F;
  }
#skipnav a:link {
  color: white;
  }
#skipnav a:visited {
  color: white;
  }
#skipnav a:hover {
  color: white;
  }
#skipnav a:active {
  color: white;
  }