/* Revisions Bookstore and Cafe 
     Brenton Hand
     HTML5 Unit J Visual Workshop
 * */
@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('fonts/Chunkfive-webfont.eot');
  src: local('☺'), url('fonts/Chunkfive-webfont.woff') format('woff'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fontsChunkfive-webfont.svg#webfontb5K2fJwj') format('svg');
  font-weight: normal;
  font-style: normal;
  }
article, aside, figure, footer, nav {
  display: block;
  }
aside {
  float: left;
  width: 200px;
  padding: 0.5em;
  }
article {
  float: right;
  width: 700px;
  border-left: 20px solid #633;
  background: #fdf5e6;
  }
body {
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  }
footer {
  text-align: right;
  margin: 0 auto;
  font-family: ChunkFiveRegular, georgia, "times new roman", times, serif;
  background: #6787E7;
  padding: 0.25em;
  clear: both;
  border-top: 1px solid black;
  }
h1 {
  text-align: center;
  margin: 0 auto;
  padding: 0.25em;
  font-family: ChunkFiveRegular, georgia, "times new roman", times, serif;
  font-weight: normal;
  font-size: 2em;
  float: left;
  }
h2 {
  text-align: center;
  margin: 0 auto;
  padding: 0.25em;
  font-family: ChunkFiveRegular, georgia, "times new roman", times, serif;
  font-weight: normal;
  font-size: 1.75em;
  }
h3 {
  text-align: center;
  margin: 0 auto;
  padding: 0.25em;
  font-family: ChunkFiveRegular, georgia, "times new roman", times, serif;
  font-weight: normal;
  font-size: 1.25em;
  }
table {
  margin: 1em auto;
  padding: 0;
  border-collapse: collapse;
  }
td {
  border: 1px solid black;
  padding: 0.25em;
  }
th {
  border: 1px solid black;
  padding: 0.25em;
  background: #e0e0e0;
  }
#box {
  margin: 0 auto;
  padding: 0em;
  width: 960px;
  background: #fdf5e6;
  position: relative;
  border: 1px solid black;
  }
#logo {
  float: left;
  margin: 0;
  padding: 0;
  }
#logo img, #logosm img {
  margin: 0;
  padding: 0;
  display: block;
  }
#mainnav {
  background: #BDCCD4;
  padding: 0.5em;
  margin: 0;
  border-bottom: 1px solid black;
  text-align: center;
  }
#mainnav li {
  display: inline;
  list-style-type: none;
  padding: 0.25em;
  }
#skipnav {
  width: 960px;
  text-align: right;
  margin: 0 auto;
  padding: 0;
  }
.maintext:first-letter {
  font-weight: bold;
  }
.title {
  font-style: italic;
  }
a:link {
  color: black;
  }
a:visited {
  color: black;
  }
a:hover {
  color: black;
  }
a:active {
  color: black;
  }
#mainnav a:link {
  color: #203470;
  }
#mainnav a:visited {
  color: #3454B4;
  }
#mainnav a:hover {
  color: black;
  }
#mainnav a:active {
  color: #3454B4;
  }
aside {
  position: absolute;
  top: 180px;
}
fieldset {
  border:none;
}
input:focus {
  background: #e3d5ba;
}
#contactinfo label {
  display: block;
  position: relative;
  margin: 12px 0;
}
#contactinfo input {
  position: absolute;
  left: 100px;
}
#interests label {
  display: block;
  position: relative;
  margin: 12px 0;
}
legend {
  font-weight: bold;
}
#emailinput {
  width: 30em;
}
#firstnameinput, #lastnameinput {
  width: 20em;
}
#phoneinput {
  width: 10em;
}
#submit input {
  text-align: center;
}
#submit {
    display: block;
    width: 100px;
    margin: 10px auto;
}

