/* Big J's Deep Dish Pizza */
@font-face {
  font-family: 'MolengoRegular';
  src: url('fonts/Molengo-Regular-webfont.eot');
  src: local('☺'), url('fonts/Molengo-Regular-webfont.woff') format('woff'), url('fonts/Molengo-Regular-webfont.ttf') format('truetype'), url('fonts/Molengo-Regular-webfont.svg#webfontQJMgyz3x') format('svg');
  font-weight: normal;
  font-style: normal;
  }
article, body, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, li, nav, ol, p, section, table, th, td, ul {
  margin: 0;
  padding: 0;
  }
a {
  text-decoration: none;
  }
article {
  display: block;
  background: black;
  position: relative;
  }
aside {
  display: block;
  }
body {
  margin: 0;
  padding: 0;
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  }
cite {
  font-style: italic;
  }
figure {
  float: right;
  margin: 0.5em;
  padding: 0;
  text-align: center;
  position: relative;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  }
figure img {
  margin: 0;
  padding: 0;
  display: block;
  }
figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em 0;
  width: 100%;
  }
footer {
  display: block;
  text-align: center;
  padding-bottom: 0.5em;
  font-size: 1.25em;
  clear: both;
  }
h1 {
  font-size: 2em;
  padding: 0.2em;
  text-align: center;
  font-family: MolengoRegular, arial, helvetica, sans-serif;
  }
h2 {
  font-size: 2em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-family: MolengoRegular, arial, helvetica, sans-serif;
  position: absolute;
  top: -1.5em;
  left: 0.5em;
  }
h3 {
  font-size: 1.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: MolengoRegular, arial, helvetica, sans-serif;
  }
img {
  border: none;
  }
table {
  margin: 1em;
  padding: 0;
  border-collapse: collapse;
  }
td {
  border: 1px solid black;
  padding: 0.25em;
  }
th {
  border: 1px solid black;
  padding: 0.25em;
  }
#box {
  width: 960px;
  margin-left: auto; 
  margin-right: auto;
  padding: 0;
  position: relative;
  }
#foot1 {
  float: left;
  width: 320px;
  }
#foot2 {
  float: right;
  width: 320px;
  }
#foot3 {
  margin: 0 auto;
  width: 320px;
  }
#logo {
  position: relative;
  z-index: 2;
  }
#mainnav {
  margin: 0;
  text-align: center;
  }
#mainnav li {
  list-style-type: none;
  z-index: 3;
  }
#mainnav li a {
  display: block;
  font-size: 1.5em;
  position: relative;
  top: 20px;
  }
#navlink1, #navlink2, #navlink3, #navlink4 {
  position: absolute;
  width: 150px;
  height: 150px;
  }
#navlink1 {
  left: 0;
  }
#navlink2 {
  left: 150px;
  }
#navlink3 {
  right: 150px;
  }
#navlink4 {
  right: 0;
  }
#pagenav {
  background: #fc6;
  padding: 0.5em;
  margin: 0;
  }
#skipnav {
  width: 960px;
  text-align: right;
  margin: 0 auto;
  padding: 0.25em;
  }
#title {
  font-style: italic;
  }
#words {
  text-align: center;
  padding: 0.5em;
  font-weight: bold;
  width: 40%;
  margin: 0 auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  }
#words li {
  list-style-type: none;
  }
.addr {
  padding: 0 3em 0 0.5em;
  margin: 0 1em 0.25em 0;
  }
.boxshadow figure {
  border: none;
  -webkit-box-shadow: 2px 2px 4px red;
  -moz-box-shadow: 2px 2px 4px red;
  box-shadow: 2px 2px 4px red;
  }
.callout {
  font-weight: bold;
  }
.center {
  width: 100%;
  height: 80px;
  font-size: 1.5em;
  padding: 2em;
  position: absolute;
  top: 200px;
  z-index: 1;
  }
.content .maintext {
  margin: 0.5em;
  }
.content .maintext:first-letter {
  font-size: 3em;
  float: left;
  line-height: 0.8em;
  }
.days {
  font-weight: bold;
  }
.hours {
  padding: 0 3em;
  margin-top: 0.5em;
  }
.left, .right {
  width: 200px;
  height: 80px;
  font-size: 1.5em;
  text-align: center;
  padding: 2em;
  position: absolute;
  top: 200px;
  z-index: 2;
  background: none;
  }
.left {
  border-left: 5px solid black;
  }
.right {
  right: 0px;
  border-right: 5px solid black;
  }
.row {
  display: table-row;
  }
.row div {
  display: table-cell;
  padding: 0.1em 0.5em;
  }
.strong {
  font-weight: bold;
  }
.toplink {
  text-align: right;
  padding: 0 1em 0 0;
  margin: 0;
  }
a:link {
  color: black;
  }
a:visited {
  color: black;
  }
a:hover {
  text-decoration: underline;
  }
a:active {
  color: black;
  }
#pagenav a:link {
  color: black;
  }
#pagenav a:visited {
  color: black;
  }
#pagenav a:hover {
  text-decoration: underline;
  }
#pagenav a:active {
  color: black;
  }
#mainnav a:link {
  color: black;
  }
#mainnav a:visited {
  color: black;
  }
#mainnav a:hover {
  color: black;
  text-shadow: 1px 1px 1px black;
  }
#mainnav a:active {
  color: black;
  }